In [3]:
import pandas as pd
import numpy as np
from pandas import Timestamp
import datetime
import math

In [2]:
def fix_date(x):
    if math.isnan(x.year):
        return
        
    if x.year > 2000:
        year = x.year - 100

    else:
        year = x.year

    return datetime.date(int(year),x.month,x.day)

In [3]:
clientdf = pd.read_json('original_data/Clients.json')
assistancedf = pd.read_json('original_data/Assistances.json')

clientdf = (clientdf
                .drop(['LastName, FirstName MI', '#inFamily'], axis=1)
                .assign(Gender=np.nan)
                .assign(Race=np.nan)
                .assign(Banned=np.nan)
                .assign(Note=np.nan)
)


result = pd.merge(clientdf, assistancedf, on='ClientID')
result = (result
            .set_index(['ClientID', 'AssistanceID'])
            .assign(BoyAge=lambda df: df['BoyAge'].astype(str))
            .assign(GirlAge=lambda df: df['GirlAge'].astype(str))
        )
result[['BoyAge', 'GirlAge']] = result[['BoyAge', 'GirlAge']].astype(str)

In [4]:
assistancedf['Date'].to_clipboard()

In [5]:
clientset = set(clientdf['ClientID'])
assistanceset = set(assistancedf['ClientID'])
missing_assistances = assistancedf.loc[assistancedf['ClientID'].isin(assistanceset.difference(clientset))]
missing_clients = clientdf.loc[clientdf['ClientID'].isin(clientset.difference(assistanceset))]

In [6]:
familydf = result.groupby('ClientID').agg(
    BoyAge = pd.NamedAgg(column='BoyAge', aggfunc=lambda x: max(x, key=len)),
    GirlAge = pd.NamedAgg(column='GirlAge', aggfunc=lambda x: max(x, key=len))
)
familydf = (familydf
                .loc[(familydf['BoyAge'] != 'nan') | (familydf['GirlAge'] != 'nan')]
                .assign(NumBoys=lambda df: df['BoyAge'].str.split('-|,').str.len())
                .assign(NumGirls=lambda df: df['GirlAge'].str.split('-|,').str.len())
)
familydf.loc[familydf['BoyAge'] == 'nan', 'NumBoys'] = 0
familydf.loc[familydf['GirlAge'] == 'nan', 'NumGirls'] = 0
familydf['NumKids'] = familydf['NumBoys'] + familydf['NumGirls']

familydf = familydf[['NumKids']]
#familydf.reset_index().to_json('Family.json', orient='records')

In [7]:
clientdf

,ClientID,LastName,FirstName,MI,Birthday,Zip Code,Gender,Race,Banned,Note
0,5,Berg,Shane,E,04/14/72 00:00:00,NaN,NaN,NaN,NaN,NaN
1,7,Dario Rubalcava,Dario,NaN,12/24/64 00:00:00,NaN,NaN,NaN,NaN,NaN
2,8,Smith,JIM,NaN,12/20/53 00:00:00,NaN,NaN,NaN,NaN,NaN
3,9,Jones,Helen,I,08/05/54 00:00:00,NaN,NaN,NaN,NaN,NaN
4,10,Thomas,ROSEANNA,NaN,10/20/66 00:00:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
49785,57216,Gaspar,Petrona,T,12/01/95 00:00:00,NaN,NaN,NaN,NaN,NaN
49786,48175,Grevel,Lorriette,l,10/29/75 00:00:00,NaN,NaN,NaN,NaN,NaN
49787,58269,Herrera Rodriguez,Ricardo,NaN,02/07/81 00:00:00,NaN,NaN,NaN,NaN,NaN
49788,58367,Aguda,Alih Philip,NaN,06/30/54 00:00:00,NaN,NaN,NaN,NaN,NaN
49789,58554,Van Wyk,Ilana,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
notemap = {1135: 'STOLE EILEENS PURSE IN THE CHILDRENS ROOM - BANNED FROM FRANCES HOUSE - PER K.',
  44311: 'emergency banned',
  37842: 'Banned',
  52332: 'BANNED\r\nLaura Young',
  3883: 'BANNED!!!!\r\nHAD TO CALL POLICE ON HER',
  3141: 'Banned until further notice!!!!!!!!!! IF REFUSES TO LEAVE.:CALL 911',
  22413: 'new client\r\nalso uses randy johnson and birthdate of 4-9-63 banned not elibile to return until dec 08',
  22431: 'AGGRESSIVE AND THREATENING - PERMANENTLY BANNED - PER STEPHANIE',
  4959: 'NASTY BELLIGERANT;STARTED FIGHT AND WOULD NOT LEAVE POLICE CAME: BANNED FOR A',
  13608: 'MUST HAVE ID NO EXCEPTIONS!! goes by Gerald Threet\r\n& F Phillip Threet same birthdate check by bday came in may and july under different names! *BANNED FOR 6 MONTHS, SEE DIRECTOR IF HE GIVES ANYONE A BAD TIME.',
  377: 'CANNOT COME IN IF SMELLS OF ALCOHOL!!', 
  20824: 'The police are looking for this guy.  Give him what he wants and notify Alan or Stepahnie.',
  20541: 'also uses last name raymundo (raimundo)'
}

bannedmap = {1135: 1,
  44311: 1,
  37842: 1,
  52332: 1,
  3883: 1,
  3141: 1,
  22431: 1,
  4959: 1
}

clientdf = result.reset_index().groupby('ClientID').agg(
                AssistanceID = pd.NamedAgg(column='AssistanceID', aggfunc=max)
)

clientdf = (clientdf
                .reset_index()
                .set_index(['ClientID', 'AssistanceID'])
                .join(result)
                .reset_index()
                .drop(columns=['MenClothes', 'MQuant', 'WomenClothes', 
                'WQuant', 'ChildrenClothes', 'CQuant','Soap', 'ShampooConditioner', 
                'Lotion', 'Razor', 'Toothpaste', 'Toothbrush', 'Other', 'BoyAge', 
                'GirlAge', 'Furniture', 'Household', 'Director', 'New', 'Date'])
                .rename(columns={'AssistanceID':'LastAssistanceID'})
                .assign(Birthday=lambda df: pd.to_datetime(df['Birthday'], errors='coerce'))
                .fillna(value={'Zip Code': 0})
)

clientdf = (clientdf
                .set_index('ClientID')
                .join(familydf[['NumKids']])
                .reset_index())

clientdf['Note'] = clientdf.ClientID.map(notemap)
clientdf['Banned'] = clientdf.ClientID.map(bannedmap)

clientdf['Birthday'] = clientdf['Birthday'].apply(fix_date)

In [9]:
transaction = assistancedf
transaction = (transaction
                .drop(columns=['BoyAge', 'GirlAge', 'New', 'Date', 'ClientID'])
                .fillna('')
                .assign(Other=lambda df: df['Other'] + df['Furniture'] + df['Household'])
                .drop(columns=['Furniture', 'Household'])
)
transaction = pd.melt(transaction, id_vars=['AssistanceID'], value_vars=['MQuant', 'WQuant', 'CQuant', 'Soap',
       'ShampooConditioner', 'Lotion', 'Razor', 'Toothpaste', 'Toothbrush',
       'Other', 'Director'])
transaction = (transaction
                .loc[(transaction['value'] != 0.0) & (transaction['value'].notna()) & (transaction['value'] != '')]
                .assign(note=lambda df: df['value'])
                .reset_index(drop=True)
                .assign(RequestQuantity=1)
                .rename(columns={'variable':'Item', 'value':'ReceivedQuantity', 'note':'Note'})
)
transaction.loc[transaction['Item'].isin({'MQuant', 'WQuant', 'CQuant', 'Soap',
       'ShampooConditioner', 'Lotion', 'Razor', 'Toothpaste', 'Toothbrush'}), 'Note'] = ''
transaction.loc[transaction['Item'].isin({'MQuant', 'WQuant', 'CQuant'}), 'RequestQuantity'] = 15
transaction.loc[transaction['Item'].isin({'Other', 'Director'}), 'ReceivedQuantity'] = 1

requests = transaction[['AssistanceID', 'Item', 'RequestQuantity', 'Note']]
receipts = transaction[['AssistanceID', 'Item', 'ReceivedQuantity', 'Note']]

In [10]:
assistancedf = (assistancedf
                .drop(columns=['MenClothes', 'MQuant', 'WomenClothes', 
                'WQuant', 'ChildrenClothes', 'CQuant', 'Soap', 'ShampooConditioner', 
                'Lotion', 'Razor', 'Toothpaste', 'Toothbrush', 'Other', 'BoyAge', 
                'GirlAge', 'Furniture', 'Household', 'Director', 'New'])
                .assign(Date=lambda df: pd.to_datetime(df['Date'], errors='coerce'))
                .assign(LastBackPackDate=lambda df: df['Date'])
                .assign(LastSleepingBagDate=lambda df: df['Date'])
)

In [11]:
'''requests.to_json('Requests.json', orient='records')
receipts.to_json('Receipts.json', orient='records')
assistancedf.to_json('Assistances.json', orient='records')
clientdf.to_json('Clients.json', orient='records')'''

"requests.to_json('Requests.json', orient='records')\nreceipts.to_json('Receipts.json', orient='records')\nassistancedf.to_json('Assistances.json', orient='records')\nclientdf.to_json('Clients.json', orient='records')"

In [4]:
import sqlalchemy
from sqlalchemy import create_engine

In [5]:
url = 'mysql+pymysql://bd4ed864034363:5ed05bcc@us-cdbr-east-06.cleardb.net/heroku_897e4d581d637b3'

In [6]:
engine = create_engine(url, echo=False)
connection = engine.connect()

In [24]:
#clientdf.to_sql('clients', connection, if_exists='replace', index=False, method='multi')

39874

In [7]:
query = "select clients.ClientID, clients.`Zip Code`, clients.Gender, clients.Race, clients.NumKids, assistances.Date from clients inner join assistances on clients.LastAssistanceID = assistances.VisitID where DATEDIFF(CURDATE(),Date) between 0 and 365"

In [8]:
df = pd.read_sql(query, connection)

In [14]:
df

     ClientID  Zip Code Gender  Race  NumKids       Date
0         112       0.0   None  None      6.0 2022-04-21
1        1559   98104.0   None  None      NaN 2021-08-24
2        2517       0.0   None  None      4.0 2021-09-14
3        2916       0.0   None  None      6.0 2021-09-21
4        3277       0.0   None  None      NaN 2021-10-12
..        ...       ...    ...   ...      ...        ...
142     58579       0.0   None  None      NaN 2022-04-21
143     58580       0.0   None  None      NaN 2022-04-21
144     58581       0.0   None  None      NaN 2022-04-21
145     58582       0.0   None  None      NaN 2022-04-21
146     58584       0.0   None  None      NaN 2022-05-16

[147 rows x 6 columns]

In [23]:
pd.pivot_table(df, columns=['Zip Code'], values=['ClientID', 'NumKids'], aggfunc='count')

Zip Code  0.0      98104.0  98115.0  98119.0  98121.0  98122.0  98125.0
ClientID      134        6        1        1        3        1        1
NumKids        19        0        1        0        0        1        1